* {
    box-sizing: border-box;
  }

  body {
    font-family: 'Noto Sans TC', sans-serif;
    height: 100vh
  }

 #content{
    padding: 20px 0;
    background-image: url('/static/images/bg-picture.png');  
    background-size: cover;   
    background-position: center; 
    background-repeat: no-repeat; 
    width: 100%; 
 }

.wrapper{
    width: 100%;
    max-width: 1200px;
 }

 #input-container{
   display: flex;
   flex-direction: column;
   gap:15px
 }

 #input-container .input-wrapper{
   display: flex;
   flex-direction: column;
   align-items: center;
   gap:15px;
   padding: 0 10px;
 }

#text-content {
   width: 300px
}

#file-upload {
   width: 300px
}

#input-container h2{
   color: #666666;
   text-align: center;
}

label {
   font-size: 16px;
   color: #666666;
   font-weight: 500;
}

hr {
 width:100%;
 margin: 20px 0;
}

#upload-button{
   display: block;  
   margin: 0 auto; 
   cursor: pointer; 
   display: block;
   padding: 10px 20px; 
   background-color: #4CAF50; 
   color: white; 
   border: none; 
   border-radius: 5px; 
   font-size: 16px; 
   cursor: pointer; 
   transition: background-color 0.3s, transform 0.2s; 
}

#upload-button:hover {
   background-color: #45a049; 
}

#upload-button:active {
   transform: scale(0.98); 
}

#upload-button:focus {
   outline: none;
   box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
}

.posts {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 20px; 
}

.card {
   background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%); 
   box-shadow: 0 2px 5px rgba(0,0,0,0.5); 
   width: 80%; 
   height:350px;
   padding: 20px; 
   border-radius: 8px; 
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   gap:10px
}

.card p{
 width: 40%;
 font-size: 24px;
 color: #757575;
 font-weight: 400;
 overflow: auto;
}

.card .post-image {
   width: 60%;           
   display: block;   
   margin: 10px auto;
   object-fit: cover;  
}

@media (max-width: 400px){
   .wrapper {
     min-width: 340px;
   }

   #text-content {
      width: 200px
   }
   
   #file-upload {
      width: 200px
   }
 }